* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color:blue;
    background-color: orange;
    text-align: center;
    background-image: url("img/image_ariere.jpg");
}

header{
    padding:50px;
}

footer {
    margin:50px;
}

h1 {
font-size: 50px;
color: black;
background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    color: blue;
}

.avatar {
    max-width: 150px;
}

.ecole {
    max-width: 200px;
    color:black;
}

.formation {
    max-width: 200px;
    color:black;
}

.competences {
    max-width: 200px;
    color:black;
}
