* {
    box-sizing: border-box;
}

@font-face {
    font-family:"Tangerine";
    src: url("Tangerine-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:"Tangerine";
    src: url("Tangerine-Bold.ttf") format("truetype"); 
    font-weight: 700;
    font-style: normal;
}
body {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color:red;
    background-color: green;
    text-align: center;
    background-image: url("../img/image_ariere.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Tangerine", cursive;
}

header{
    padding:50px;
}

footer {
    margin:50px;
}

h1 {
font-size: 50px;
color: black;
background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    color: blue;
}

.avatar {
    max-width: 150px;
}

.ecole {
    border: 3px solid black;
    max-width: 200px;
    color:black;
}

.formation {
    border: 3px solid black;
    max-width: 200px;
    color:black;
}

.competences {
    border: 2px solid black
    max-width: 200px;
    color:black;
}
