* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.avatar {
    max-width: 50px;
}

.ecole {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 5px solid balck;
}

