* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: black;
    background-color: orange;
    background-image: url("img/alanya.jpg");
    background-repeat:non-repeat;
    background-size: center;
}

h1 {
font-size: 50px;
color: black;
background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.avatar {
    max-width: 150px;
}

.ecole {
    max-width: 200px;
    color: black;
}

.formation {
    max-width: 200px;
    color: blac;
}

.competences {
    max-width: 200px;
    color: black;
}
