* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color:blue;
    background-color: orange;
    text-align: center;
    background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=kIzxZKpm&id=B6747F8C7D893A904BD7E3BE086EDE0E2E03F86E&thid=OIP.kIzxZKpm39j_abB1Vt7MNgHaEo&mediaurl=https%3a%2f%2f3.bp.blogspot.com%2f-h7CosAOZTVg%2fVoRK81Sl4WI%2fAAAAAAAAALE%2fboXrpj8DsF0%2fs1600%2fmasaustu_arkaplan_resimleri_1.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.908cf164aa66dfd8ff69b07556decc36%3frik%3dbvgDLg7ebgi%252b4w%26pid%3dImgRaw%26r%3d0&exph=1000&expw=1600&q=web+sitesi+arka+plan+resimleri&FORM=IRPRST&ck=29A289334B5AFA18720E6FBF2B7788EF&selectedIndex=0&itb=0&idpp=overlayview&ajaxhist=0&ajaxserp=0");
    backgronud-size: cover;
}

header{
    padding:50px;
}

footer {
    margin:50px;
}

h1 {
font-size: 50px;
color: black;
background-color: white;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    color: blue;
}

.avatar {
    max-width: 150px;
}

.ecole {
    max-width: 200px;
    color:black;
}

.formation {
    max-width: 200px;
    color:black;
}

.competences {
    max-width: 200px;
    color:black;
}
